body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: rgb(192, 192, 255);
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
}
nav {
    width: 100vw;
    height: 100px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(86, 105, 142);
    color: rgb(255, 255, 0);
}

.pokedexCard {
    width: 200px;
    height: 280px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: start;
    border-radius: 16px;
}

.pokedexCard img {
    height: 160px;
    margin-bottom: -20px;
}

.pokedexCard h2 {
    text-align: center;
    margin-bottom: 24px;
    margin: 4px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 50px;
}

.divLeft {
    display: flex;
    width: 88%;
    justify-content: end;
    padding-top: 8px;
    margin-right: 18px 
}

.divLeft b {
    margin-bottom: 0px;
}

.cardinfo {
    width: inherit;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 17px;
}

